* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    
}

/* header section */
.header {
    float: right;
    display: flex;
    margin: 40px 100px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.header li a:hover {
    color: tomato;
    font-size: large;
    font-weight: bold;
}

.header li a {
    color: white;
    font-size: large;
    font-weight: bold;
}

.header .nav1 a:hover {
    color: tomato;
}

.header .nav2 a:hover {
    color: tomato;
}

/* container */
.container {
    position: absolute;
    background: linear-gradient(90deg, black 0%, rgb(20, 20, 225) 35%, rgba(4, 231, 247, 0.995) 100%);
    width: 100%;
    height: auto;
    overflow: hidden;
    color: rgb(247, 162, 4);
}

/* all boxs */
.box div {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: transparent;
    /* border: 6px solid #ffffff; */
    border: 6px solid white;
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translate(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translate(-90px) rotate(360deg);
        opacity: 0;
    }
} 

ul li{
    float: right;
    display: flex;
    padding-left: 40px;
    font-weight: bold;
}

/* main section */
.main-section {
    display: flex;
    justify-content: space-between;
}

/* left side */
.left-side {
    margin-left: 50px;
}

.dp {
    width: 250px;
    height: auto;
    /* background: white; */
    border-radius: 250px;
    margin: 30px;
}

.dp img {
    width: 250px;
    height: auto;
    border-radius: 250px;
}

h2{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    margin-left: 50px;
}

button {
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: red;
    font-size: large;
}

button:hover {
    color: white;
    background-color: rgb(20, 20, 225);
}

button:active {
    color: white;
    background-color: gray;
}

/* right side */
.right-side {
    width: 61%;
    height: auto;
    margin-right: 100px;
    line-height: 1.5rem;
    margin: 100px 0px 0px 250px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    background-color: white;

}

.img {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

/* social icons */
.icons li { 
    color: white;
    float: left;
    margin: 15px -25px 0px 10px;
}

.icons li a {
    color: white;
}

i {
    font-size: 30px;
}

.sub-section {
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 20px;
}

.skill-header {
    color: white;
}

.skill-header1 {
    color: black;
    
}

.text {
    color: black;
}

.card1 {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.card-img1 {
    border-radius: 10px;
    width: 250px;
}

.card-img2 {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    /* margin-bottom: 110px; */
}

.card-img3 {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.card-img4 {
    border-radius: 10px;
    width: 250px;
    border: 1px solid gray;
}

.btn {
    margin: 50px 0px -10px 0px;
    background-color: gold;
}

.btn a {
    color: black;
}

/* copied card section */
.another {
    margin-top: 100px;
}

.btn0 {
    margin-top: 230px;
}

.btn1 {
    margin-top: 165px;
}

/* footer section */
footer {
    /* width: 100%; */
    margin-top: 100px;
    background-color: wheat;
    text-align: justify;
    padding: 20px;
    line-height: 1.5rem;
    color: black;
    background-color: white;
}

.last-text {
    text-align: center;
    padding: 20px;
    margin-bottom: -20px;
    color: gray;
    font-size: small;
}